$coinbase-blue: #0B47E4;
$border-color: #ECEFF1;

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // border: 2px $coinbase-blue solid;
  height: 98vh;
  width: 99vw;
  color: black;
}

.side-menu-container {
  flex: 1 1 15%;
  height: 97.5%;
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: column;

  .main-title {
    flex: 1 1 10%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: $coinbase-blue;
    font-size: 22px;
    font-weight: bolder;
  }

  .menu-options-container {
    flex: 9 9 90%;
    padding: 0 5px 0 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .menu-option {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 50px;
      margin-bottom: 25px;
      padding: 0 5px 0 10px;
      border-radius: 5px;

      &:hover {
        background-color: #F0F3F5;
        color: $coinbase-blue;
        cursor: pointer;
      }

      span.item-icon {
        flex: 3 3 25%;

        margin-top: 5px;
      }

      span.item-text {
        flex: 7 7 75%;

        font-size: 14px;
        font-weight: bolder;
      }
    }
    .active-menu-option {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 50px;
      margin-bottom: 25px;
      padding: 0 5px 0 10px;
      border-radius: 5px;
      color: $coinbase-blue;

      span.item-icon {
        flex: 3 3 25%;

        margin-top: 5px;
      }

      span.item-text {
        flex: 7 7 75%;

        font-size: 14px;
        font-weight: bolder;
      }
    }
  }
}

.main-container {
  flex: 7 7 85%;
  height: 97.5%;

  display: flex;
  flex-direction: column;

  .main-page-menu {
    flex: 1 1 10%;

    display: flex;
    flex-direction: row;
    align-items: center;

    .main-navbar {
      height: 100%;
      width: 100%;
      padding: 0 10px 0 10px;
      background-color: #FAFBFC;
      border: 1px solid $border-color;

      display: flex;
      flex-direction: row;

      .navbar-active-page {
        flex: 1 1 10%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bolder;

      }

      .navbar-middle-placeholder {
        flex: 3 3 30%;
      }
      .navbar-buttons {
        flex: 6 6 60%;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        button {
          width: 150px;
          margin-left: 20px;
        }
      }
    }
  }

  .active-page-container {
    flex: 9 9 90%;
    background-color: #F6F9FC;
    border: 1px solid $border-color;
    overflow-y: scroll;
  }
}

.blur {
  filter: blur(7px);
}
.home-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto;

  .orders-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    padding: 5% 5px 30px 10%;
    border-radius: 10px;
    background-color: white;

    .orders-title {
      font-size: 28px;
      font-weight: bolder;
      font-color: $coinbase-blue;
      margin-bottom: 20px;
    }

    .orders-headers {
      display: flex;
      flex-direction: row;
      width: 90%;
      font-size: 22px;
      font-weight: bold;
      color: $coinbase-blue;
      border-bottom: 2px solid $border-color;
      margin-bottom: 5px;
      padding-bottom: 5px;

      div {
        width: 100px;
        margin: 2.5px 2.5px 2.5px 2.5px;
      }
    }

    .orders {
      display: flex;
      flex-direction: column;
      width: 90%;
      font-size: 18px;

      .order {
        display: flex;
        flex-direction: row;
        border-bottom: .5px solid $border-color;

        div {
          width: 100px;
          margin: 2.5px 2.5px 2.5px 2.5px;
        }
      }
    }
  }

  .assets-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    padding: 5% 5px 5px 10%;
    border-radius: 10px;
    background-color: white;

    .assets-title {
      font-size: 28px;
      font-weight: bolder;
      color: black;
      margin-bottom: 40px;
    }

    .assets {
      width: 75%;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;

      .asset-section-titles {
        font-size: 24px;
        font-weight: bold;
        color: $coinbase-blue;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 2px solid $border-color;
      }

      .asset {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 0 5px 0;
        font-weight: bold;
        font-size: 18px;
        border-bottom: .5px solid $border-color;


        span.icon-currency-group {
          width: 100px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          > span.currency,
            span.balance {
            margin-left: 20px;
          }
        }
      }
    }
  }

  .signals-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    margin: 20px;
    padding: 5% 5px 5px 7.5%;
    border-radius: 10px;
    background-color: white;

    .signals-title {
      font-size: 24px;
      font-weight: bolder;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid $border-color;
    }

    .signals-group {
      width: 95%;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-between;

      .algo-signal {
        margin: 5px 0 5px 0;
        border-bottom: .5px solid $border-color;

      }
    }
  }

  .col2-row2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
  }

}

.prices-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 5% 30px 30px 10%;
  margin: 20px;

  .prices-header {
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .prices {
    display: flex;
    flex-direction: column;

    .price {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 5px 0 5px 0;
      font-size: 20px;
      width: 500px;

      span.currency {
        width: 30%;
        color: $coinbase-blue;
        font-weight: bolder;
      }

      span.exchange {
        font-weight: bold;
      }
    }
  }
}

.portfolio-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;

  .portfolio-balance-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
    margin: 20px;
    padding: 5% 20px 30px 10%;
    border: 1px solid $border-color;
    border-radius: 10px;

    .p-balance-title {
      font-size: 28px;
      font-weight: bold;
      border-bottom: 1px solid $border-color;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
    .balances {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 20px;

      .p-price {
        width: 50%;
        display: flex;
        flex-direction: row;
        font-weight: bold;
        margin: 5px 0 5px 0;
        border-bottom: 1px solid $border-color;

        .p-currency {
          width: 30%;
          color: $coinbase-blue;
        }

        .p-value {

        }
      }
    }
  }

  > .portfolio-assets-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    margin: 20px;
    padding: 5% 20px 30px 10%;
    border-radius: 10px;

    .p-assets-title {
      font-size: 28px;
      font-weight: bold;

    }
  }
}

.algorithms-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 300px;

  // .a-main-title {
  //   grid-column-start: 1;
  //   grid-column-end: 2;
  //   grid-row-start: 1;
  //   grid-row-end: 2;
  //   background-color: white;
  //   margin: 20px;
  //   padding: 2.5% 20px 20px 5%;
  //   font-size: 28px;
  //   font-weight: bold;
  //   border: 1px solid $border-color;
  //   border-radius: 10px;
  // }

  .bollinger-bands {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0 40px 0;

    .bands-main-title-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
      background-color: white;
      margin: 20px 20px 20px 20px;
      padding: 2.5% 20px 20px 5%;
      border: 1px solid $border-color;
      border-radius: 10px;
      width: 80%;

      .title {

      }

      .granularity-options {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;

        .current-granularity {
          font-size: 14px;
          margin-right: 20px;
        }
      }
    }

    .bands-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 500px;
      width: 80%;
      overflow-y: scroll;
      background-color: white;
      margin: 20px 20px 20px 20px;
      padding: 2.5% 20px 20px 5%;
      border: 1px solid $border-color;
      border-radius: 10px;

      .b-currency {
        margin: 15px 60px 15px 60px;
        width: 225px;

        .b-currency-title {
          font-size: 20px;
          font-weight: bolder;
          color: $coinbase-blue;
          padding-bottom: 2.5px;
          margin-right: 10px;
          border-bottom: 1px solid $border-color;
        }

        .b-level {
          margin: 0px 0 0px 0;

          .level-title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .fibonacci-retracement {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    .fibonacci-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      margin: 20px 20px 20px 20px;
      padding: 2.5% 20px 20px 5%;
      border: 1px solid $border-color;
      border-radius: 10px;
      width: 80%;

      .fibonacci-main-title {
        font-size: 24px;
        font-weight: bold;

        .select-form {

        }



      }
    }


    .fibonacci-container {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 80%;
      background-color: white;
      margin: 20px 20px 20px 20px;
      padding: 2.5% 20px 20px 5%;
      border: 1px solid $border-color;
      border-radius: 10px;

      .fibonacci-stats {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 30px;

        h3 {
          padding-bottom: 5px;
          color: $coinbase-blue;
          border-bottom: 1px solid $border-color;
        }

        .day-stats {
          width: 40%;
          margin: 0 auto;

          .high {
            display: flex;
            margin: 0px 5px 5px 5px;
            width: auto;

            .label {
              font-size: 17px;
              font-weight: bold;
              width: 100px;
            }
            .stat {
              width: auto;
            }

          }

          .current {
            display: flex;
            margin: 0px 5px 5px 5px;
            width: auto;

            .label {
              font-size: 17px;
              font-weight: bold;
              width: 100px;
            }
            .stat {
              width: auto;
            }

          }

          .low {
            display: flex;
            margin: 0px 5px 5px 5px;
            width: auto;

            .label {
              font-size: 17px;
              font-weight: bold;
              width: 100px;
            }
            .stat {
              width: auto;
            }

          }
        }

        .historical-stats {
          width: 40%;
          margin: 0 auto;

          .max {
            display: flex;
            margin: 0px 5px 5px 5px;
            width: auto;

            .label {
              font-size: 17px;
              font-weight: bold;
              width: 100px;
            }
            .stat {
              width: auto;
            }
          }

          .mean {
            display: flex;
            margin: 0px 5px 5px 5px;
            width: auto;

            .label {
              font-size: 17px;
              font-weight: bold;
              width: 100px;
            }
            .stat {
              width: auto;
            }
          }

          .min {
            display: flex;
            margin: 0px 5px 5px 5px;
            width: auto;

            .label {
              font-size: 17px;
              font-weight: bold;
              width: 100px;
            }
            .stat {
              width: auto;
            }
          }
        }
      }

      .combined-stats-container {
        display: flex;
        flex-direction: column;

        .combined-stats {
          width: 670px;
          margin: 0 auto;

          .breakpoint {
            width: 180px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 5px 0;

          }

          .label {
            font-weight: bold;
            color: $coinbase-blue
          }

          .stat {
            width: 100px;
          }

        }
      }
    }
  }

  .moving-averages {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    .moving-averages-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      margin: 20px 20px 20px 20px;
      padding: 2.5% 20px 20px 5%;
      border: 1px solid $border-color;
      border-radius: 10px;
      width: 80%;

      .moving-averages-title {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .moving-averages-main {
      display: flex;
      flex-direction: column;
      height: 600px;
      width: 80%;
      background-color: white;
      margin: 20px 20px 20px 20px;
      padding: 2.5% 20px 20px 5%;
      border: 1px solid $border-color;
      border-radius: 10px;
    }
  }

}

.modal-hide {
  display: none;
}

.modal-show{
  position: absolute;
  top: 12.5%;
  left: 35%;
  height: 60vh;
  width: 35vw;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modal-content {
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 2px 2px #FAFBFC;
    border: 2px solid $border-color;
    border-radius: 20px;
    padding: 20px 10px 20px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .modal-title {
      font-size: 30px;
      font-weight: bold;
      color: $coinbase-blue;
      margin-bottom: 10px;
    }

    .switch-group {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0 5px;
      margin-bottom: 10px;

      .switch-labels {
        font-weight: bold;
      }
    }

    .order-container {
      display: flex;
      flex-direction: column;
    }
    .market-order {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .market-title {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin: 10px 0;
    }

    .input-group {

    }


    .limit-order {

    }

  }
}
